@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kategori Bilgisi Güncelle</h4>
                        <form method="post" asp-action="UpdateCategory">
                            <input type="hidden" asp-for="CategoryId" />


                            <div class="form-group">
                                <label for="exampleInputTitle">Kategori Adı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Kategori Adı Girişi Yapınız..">
                            </div>
                            

                            <button type="submit" class="btn btn-success waves-effect waves-light">Kategori  Güncelle</button>
                        </form>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div>

    </div> <!-- container-fluid -->
</div>

